nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h6 {
    font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #000000;
}

nav p {
    font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #003679;
}

main {
    display: flex;
    gap: 29px;
    margin-top: 51px;
}
hr {
    width: 50px;
height: 6px;
left: 373px;
top: 209px;
margin-top: 12px;
background: rgba(197, 126, 55, 0.7);
border-radius: 5px;
}
.beneficiiary_text{
    font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #8A8A8A;
margin-top: 44px;
margin-bottom: 24px;
width: 240px;
}